<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hidden">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hidden"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".DetailAbsensiActivity"
            android:exported="false"
            android:label="Detail Absensi"
            android:parentActivityName=".AbsensiHarianActivity" />
        <activity
            android:name=".RekapAbsensiActivity"
            android:exported="false"
            android:label="Rekap Absensi" />
        <activity
            android:name=".InformasiAbsensiActivity"
            android:exported="false"
            android:label="Informasi Absensi" />
        <activity
            android:name=".InformasiPerusahaanActivity"
            android:exported="false"
            android:label="Informasi Perusahaan" />
        <activity
            android:name=".ProfilKaryawanActivity"
            android:exported="false"
            android:label="Profil Karyawan"
            android:parentActivityName=".HomePemilikActivity" />
        <activity
            android:name=".EditWajahPemilikActivity"
            android:exported="false"
            android:label="Registrasi Wajah Baru"
            android:parentActivityName=".ProfilPemilikActivity" />
        <activity
            android:name=".ProfilPemilikActivity"
            android:exported="false"
            android:label="Profil Pemilik"
            android:parentActivityName=".HomePemilikActivity" />
        <activity
            android:name=".InformasiAnggotaActivity"
            android:exported="false"
            android:label="Informasi Anggota" />
        <activity
            android:name=".AbsensiHarianActivity"
            android:exported="false"
            android:label="Absensi Harian"
            android:parentActivityName=".HomePemilikActivity" />
        <activity
            android:name=".CheckOutActivity"
            android:exported="false"
            android:label="Absensi Keluar" />
        <activity
            android:name=".HomeKaryawanActivity"
            android:exported="false"
            android:label="Home Karyawan" />
        <activity
            android:name=".DaftarKaryawanActivity"
            android:exported="false"
            android:label="Daftar Anggota Perusahaan"
            android:parentActivityName=".HomePemilikActivity" />
        <activity
            android:name=".DaftarkanKaryawanActivity"
            android:exported="false"
            android:label="Mendaftar Karyawan"
            android:parentActivityName=".EditPerusahaanActivity" />
        <activity
            android:name=".EditPerusahaanActivity"
            android:exported="false"
            android:label="Edit Perusahaan"
            android:parentActivityName=".HomePemilikActivity" />
        <activity
            android:name=".PilihLokasiActivity"
            android:exported="false"
            android:label="Pilih Lokasi Perusahaan" />
        <activity
            android:name=".RegPerusahaanActivity"
            android:exported="false"
            android:label="Registrasi Perusahaan"
            android:parentActivityName=".RegWajahPemilikActivity" />
        <activity
            android:name=".CheckInActivity"
            android:exported="false"
            android:label="Absensi Masuk" />
        <activity
            android:name=".RegWajahPemilikActivity"
            android:exported="false"
            android:label="Registrasi Wajah Pemilik"
            android:parentActivityName=".RegAkunPemilikActivity" />
        <activity
            android:name=".RegAkunPemilikActivity"
            android:exported="false"
            android:label="Registrasi Akun Pemilik"
            android:parentActivityName=".HalamanUtamaActivity" />
        <activity
            android:name=".HomePemilikActivity"
            android:exported="false"
            android:label="Home Pemilik" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login Akun"
            android:parentActivityName=".HalamanUtamaActivity" />
        <activity
            android:name=".HalamanUtamaActivity"
            android:exported="false"
            android:label="Halaman Utama" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>